<h2 class="text-2xl font-semibold text-gray-800 mb-4">Aviso Legal</h2>

<div class="text-gray-700 space-y-4">
  <p><strong>1. Datos del titular</strong><br>
    El presente sitio web es propiedad de ArCan Motors, con CIF/DNI 46243042R.
    <br>Correo electrónico: info@arcanemotors.com
    <br>Teléfono de contacto: 34 123 456 789
  </p>

  <p><strong>2. Propiedad intelectual</strong><br>
    Todos los contenidos del sitio web, incluyendo textos, imágenes, y logotipos, son propiedad de ArCan Motors, salvo que se indique lo contrario. Queda prohibida la reproducción, distribución o uso de estos sin autorización previa.
  </p>

  <p><strong>3. Condiciones de uso</strong><br>
    Los usuarios del sitio web se comprometen a hacer un uso adecuado de los contenidos y a no realizar actividades ilícitas o contrarias a la ley. La información proporcionada sobre los vehículos está sujeta a modificaciones sin previo aviso y podría contener errores.
  </p>

  <p><strong>4. Enlaces a terceros</strong><br>
    Este sitio puede contener enlaces a páginas web de terceros. El titular no se responsabiliza de los contenidos de dichas páginas externas ni de los perjuicios que puedan derivarse de su uso.
  </p>

  <p><strong>5. Jurisdicción y ley aplicable</strong><br>
    El presente aviso legal se rige por las leyes de España y cualquier conflicto relacionado con el uso de esta web será sometido a la jurisdicción de los tribunales de Cataluña.
  </p>
</div>
