<div class="mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Política de Cookies</h1>
  <div class="mx-auto my-12 p-6 bg-white shadow-md rounded-md">
    <div class="space-y-6">
      <p class="text-gray-700 text-lg">
        En <strong>ArCan Motors</strong>, la privacidad de nuestros usuarios es una prioridad. Actualmente, este sitio web no utiliza cookies para recopilar datos personales ni para rastrear la actividad de los usuarios.
      </p>

      <h2 class="text-2xl font-semibold text-gray-800">¿Qué son las cookies?</h2>
      <p class="text-gray-700 text-lg">
        Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita un sitio web. Se utilizan para recordar información sobre su visita, como su idioma preferido o las preferencias de navegación.
      </p>

      <h2 class="text-2xl font-semibold text-gray-800">¿Por qué no utilizamos cookies?</h2>
      <p class="text-gray-700 text-lg">
        Actualmente, no utilizamos cookies en nuestro sitio web, ya que no realizamos un seguimiento del comportamiento de los usuarios ni almacenamos información personal. Si en el futuro decidimos implementar el uso de cookies, lo informaremos de manera clara y transparente, proporcionando opciones para su aceptación o rechazo.
      </p>

      <h2 class="text-2xl font-semibold text-gray-800">Actualización de esta política</h2>
      <p class="text-gray-700 text-lg">
        <strong>ArCan Motors</strong> se reserva el derecho de actualizar esta política en el futuro si decidimos utilizar cookies. Le recomendamos revisar esta página periódicamente para estar al tanto de cualquier cambio.
      </p>

      <!--    <p class="text-gray-700 text-lg">-->
      <!--      Para más información sobre nuestra política de privacidad, puede visitar nuestra <a href="/privacy_policy" class="text-blue-500 hover:underline">Política de Privacidad</a>.-->
      <!--    </p>-->
    </div>
  </div>
</div>
