<!-- Sección de bienvenida -->
<div class="py-12 text-center max-w-4xl mx-auto">
  <h2 class="text-3xl font-bold text-gray-900 mb-4">Historia de ArCan Motors</h2>
  <p class="text-lg leading-relaxed text-gray-700">
    Fundada sobre una sólida trayectoria de más de 20 años en el sector automotriz, ArCan Motors nace con el compromiso de ofrecer vehículos de alta calidad, especializados en la marca Porsche. Desde el 2000, hemos acumulado una vasta experiencia en la reparación, preparación y optimización de vehículos, lo que nos permite seleccionar cuidadosamente cada coche, asegurando que se encuentre en las mejores condiciones antes de llegar a nuestros clientes.
  </p>
</div>

<!-- Sección de coches destacados -->
<div class="pb-12">
  <h2 class="text-3xl font-bold text-gray-900 mb-8 text-center">Nuestros coches destacados</h2>

  <div class="relative">
    <% if @cars.count >= 3 %>
      <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full prev-btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
    <% end %>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-<%= @cars.count >= 3 ? 3 : @cars.count %> gap-8 car-slider">
      <% @cars.first(3).each_with_index do |car| %>
        <%= render partial: 'components/car_card', locals: { car: car } %>
      <% end %>
    </div>

    <% if @cars.count >= 3 %>
      <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full next-btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    <% end %>
  </div>
</div>
