<footer class="bg-gray-900 text-white py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <!-- Información sobre la empresa -->
      <div>
        <h2 class="text-xl font-semibold">ArCan Motors</h2>
        <p class="mt-4 text-gray-400">
          Elegancia y potencia con historia: coches de segunda mano de alta gama, listos para tu próxima aventura.
        </p>
      </div>

      <!-- Enlaces rápidos -->
      <div>
        <h2 class="text-xl font-semibold">Enlaces Rápidos</h2>
        <ul class="mt-4 space-y-2">
          <li><a href="/" class="text-gray-400 hover:text-gray-300">Inicio</a></li>
          <li><a href="/about_us" class="text-gray-400 hover:text-gray-300">Sobre Nosotros</a></li>
          <li><a href="/cars" class="text-gray-400 hover:text-gray-300">Coches</a></li>
          <li><a href="/contact_us" class="text-gray-400 hover:text-gray-300">Contacto</a></li>
        </ul>
      </div>

      <!-- Avisos Legales -->
      <div>
        <h2 class="text-xl font-semibold">Avisos Legales</h2>
        <ul class="mt-4 space-y-2">
          <li><a href="/legal/#terminos-condiciones" class="text-gray-400 hover:text-gray-300">Aviso Legal</a></li>
          <li><a href="/legal/#aviso-legal" class="text-gray-400 hover:text-gray-300">Términos y Condiciones</a></li>
          <li><a href="/cookies_policy" class="text-gray-400 hover:text-gray-300">Política de Cookies</a></li>
<!--          <li><a href="/privacy-policy" class="hover:text-gray-300">Política de Privacidad</a></li>-->
        </ul>
      </div>

      <!-- Contacto -->
      <div>
        <h2 class="text-xl font-semibold">Contáctanos</h2>
        <ul class="mt-4 space-y-2">
          <li class="flex items-center">
            <svg class="h-5 w-5 mr-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8V6a4 4 0 00-8 0v2m4 12h-1m4 0H9m5-6h1m0 6h1m4-8H5M4 14a2 2 0 010-4h16a2 2 0 010 4H4z" />
            </svg>
            <a href="mailto:info@arcanemotors.com" class="text-gray-400 hover:text-gray-300">info@arcanemotors.com</a>
          </li>
          <li class="flex items-center">
            <svg class="h-5 w-5 mr-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h-1v4H8v-4H7m1-4h8M5 12H4m16 0h-1m-4 4v1m4 0a2 2 0 100-4h-.01m-14 0h-.01a2 2 0 100 4h.01m0-4V7m1 0h-.01M20 7v5m-4-5h-.01M5 7v5m4-5h-.01M4 7h-.01" />
            </svg>
            <a href="tel:+34-123-456-789" class="text-gray-400 hover:text-gray-300">+34 123 456 789</a>
          </li>
<!--          <li class="flex items-center">-->
<!--            <svg class="h-5 w-5 mr-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12v.01M5.22 10H4a2 2 0 00-2 2v4a2 2 0 002 2h16a2 2 0 002-2v-4a2 2 0 00-2-2h-1.22M12 7v.01" />-->
<!--            </svg>-->
<!--            <span>Calle Porsche, 123, 08001 Barcelona</span>-->
<!--          </li>-->
        </ul>
      </div>
    </div>

    <!-- Línea divisoria -->
    <div class="mt-8 border-t border-gray-700 pt-6">
      <p class="text-center text-sm text-gray-500">
        &copy; 2024 ArCan Motors. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
