/* application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flash-message {
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 1rem;
}